.box-Container {
  display: flex;
  position: relative;

}

.box-Chat-Log {
  width: 80vw;
  height: 60vh;
  padding: 10px;
  border: 2px solid black;
  bottom: 0;
}

.box-Chat-Input {
  display: flex;
  justify-content: space-between;
}

#txt-Input {
  height: 100%;
  width: 80%;
}

#btn-Submit {
  height: 100%;
  width: 20%;
}