#span-Name {
  margin-right: 5px;
}


#span-Content {
  margin-left: 5px;
  background-color: bisque;
  padding: 5px;
  border-style: solid;
  border-radius: 10px;
}

#frm-Chat {
  width: 80vw;
  height: 60vh;
  position: relative;
}

#box-Chat-Log {
  height: 90%;
  padding: 10px;
  border: 1px solid black;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#box-Chat-Input {
  display: flex;
  height: 10%;
  justify-content: space-between;
}

#txt-Input {
  height: 100%;
  width: 80%;
}

#btn-Submit {
  height: 100%;
  width: 20%;
}