/* 기본 스타일 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 리스트 아이템 스타일 */
li {
  list-style: none;
  background-color: #f1f1f1;
  padding: 10px;
  margin: 5px 0;
  border-radius: 10px;
}

/* 자신의 메시지 스타일 */
li.own-message {
  background-color: #007bff;
  color: #fff;
}

/* 레이아웃 스타일 */
#root {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#frm-Chat {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
}

#output-Chat {
  display: flex;
  max-height: 100vh;
  overflow-y: auto;
  padding: 10px;
  flex-direction: column;
}

#output-Chat > div {
  flex: 1 1 auto;
}

.input-Chat {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ccc;
}

/* 입력 필드 스타일 */
input[type="text"] {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

/* 전송 버튼 스타일 */
#btn-Send {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
}

#btn-Send:hover {
  background-color: #0056b3;
}

/* 메시지와 타임스탬프 스타일 */
.message-text,
.timestamp,
.user-id {
  max-width: 60%; /* 메시지, 타임스탬프, 사용자 이름의 최대 너비를 조정 (70%에서 60%로 수정) */
  word-wrap: break-word;
  display: inline-block;
}

/* 타임스탬프 스타일 */
.timestamp {
  float: right;
  clear: right;
  font-size: 12px;
  margin-left: 10px;
  margin-top: 5px;
}

/* 사용자 이름 스타일 */
.user-id {
  font-weight: bold; /* 사용자 이름을 굵게 표시 */
  margin-right: 10px; /* 사용자 이름과 메시지 사이의 여백을 추가 */
}

/* 자신의 메시지에서 사용자 이름 색상 변경 */
li.own-message .user-id {
  color: #ff7f50; /* 사용자 이름의 색상을 변경 (예시: 주황색) */
}
