* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  padding: 10px;
}

li {
  margin: 10px;
  list-style: none;
  list-style-type: none;
}

#root {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}